!Xft.dpi: 146
Xft.dpi: 120
!Xft.dpi: 112
!Xft.dpi: 98
!Xft.dpi: 130
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintmidium
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: grayscale
Xcursor.theme: DMZ-White
Xcursor.size: 48
