[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=$HOME/.xmonad/xkeysnail.sh
Restart=always
RestartSec=10s
Type=simple

# Update DISPLAY to be the same as `echo $DISPLAY` on your graphical terminal.
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
